/* FOOTER */

footer {
	border-top: 2px solid $gen-orange;
	padding: 4rem;
	.footerblock {
		display: grid;
		grid-template-columns: 40% 60%;
		grid-template-rows: 100%;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		justify-items: stretch;
		align-items: stretch;
		.footerblock__info {
			.footerblock__info__text {
				font-size: 0.9rem;
				color: $gen-orange;
				padding-top: 0.5rem;
			}
			.footerblock__info__icons {
				justify-content: center;
				margin: 1rem;
				padding: 0rem;
				.social-network {
					padding: 0rem;
					a.icoFacebook {
						&:hover {
							background-color: #3B5998;
						}
						&:hover i{
							color: white;
						}
					}
					a.icoInstagram {
						&:hover {
							background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
						}
						&:hover i{
							color: white;
						}
					}
					a.icoMail {
						&:hover {
							background-color: #BD3518;
						}
						&:hover i{
							color: white;
						}
					}
				}
				.social-circle {
					li {
						list-style: none;
						display: inline;
						margin: 0rem 1rem;
						a {
							display: inline-block;
							position: relative;
							margin: 0 auto 0 auto;
							-moz-border-radius: 50%;
							-webkit-border-radius: 50%;
							border-radius: 50%;
							text-align: center;
							width: 50px;
							height: 50px;
							font-size: 20px;
							background-color: $gen-orange;
						}
						i {
							margin: 0;
							font-size: 1.7rem;
							line-height: 50px;
							text-align: center;
							color: $bg-body;
							-webkit-transition: all 0.8s;
							-moz-transition: all 0.8s;
							-o-transition: all 0.8s;
							-ms-transition: all 0.8s;
							transition: all 0.2s;
							
						}
					}
				}
			}
		}
		.footerblock__iframe {
			padding-right: 4rem;
		}
	}
	.copyright {
		margin-top: 1rem;
		.copyright__text {
			font-size: 0.8rem;
			color: $gen-orange;
			margin: 50px auto;
			text-align: center;

		}
	}
}
@media only screen and (max-width: 730px) {
	footer {
		.footerblock {
			display: flex;
			flex-direction: column;
			.footerblock__iframe {
				padding: 0rem;
			}
		}
	}
}
