/* HOME */
#Home {
	background-image: url(../img/b1.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	#particles-js1 {
		height: 100vh;
		width: 100%;
	}
	h1 {
		@include font-size(3rem);
		text-transform: uppercase;
		color: $gen-orange;
		font-weight: 200;
	}
	hr {
		width: 20%;
		height: 2px;
		background: $gen-orange !important;
		opacity: 100% !important;
		border: none;
		margin-top: 5px;
	}
	h2 {
		@include font-size(1.5rem);
		color: $gen-orange;
		font-weight: 200;
		margin-top: 20px;
	}
	button {
		width: 170px;
		height: 40px;
		background: $gen-orange;
		border-radius: 24px;
		border: none;
		outline: none;
		@include font-size(1.5rem);
		margin-top: 25px;
		cursor: pointer;
		transition: 0.2s;
		z-index: 2;
		&:hover {
			background: $hov-orange;
		}
		a {
			text-decoration: none;
			color: $bg-body;
			font-family: "Montserrat", sans-serif;
		}
	}
}
