.modal {
    font-family: "Bebas Neue", cursive;

    .modal-header {
        color: $gen-orange;
        background-color: $bg-body;
        border: 1px solid $gen-orange;
        .modal-title {
            @include font-size(2.2rem);
        }
    }

    .modal-body {
        background-color: $bg-body;
        border: 1px solid $gen-orange;
        a {
            text-decoration: none;
            cursor: pointer;
            .serv {
                width: 6rem;
                height: 4rem;
                margin: 1.5rem;
                border: 1px solid $gen-orange;
                background-color: $gen-orange;
                transition: 0.2s;
                
                p {
                    color: $bg-body;
                    @include font-size(1.3rem);
                }

                i {
                    color: $bg-body;
                    @include font-size(1.8rem);
                }
                &:hover {
                    background-color: $bg-body;
                    p {
                        color: $gen-orange;                        
                    }
    
                    i {
                        color: $gen-orange;                        
                    }
                }
            }            
        }
        .card{
            border: 2px solid $gen-orange;
            margin: 1rem;
            max-width:20rem;
            
            .card-body{
                background-color: $bg-body;
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .card-title{
                    color: $gen-orange;
                    @include font-size(2rem);
                    border-bottom: 1px solid $gen-orange;
                }

                .card-text{
                    font-family: "Montserrat", sans-serif !important;
                    color: $gen-orange;
                    @include font-size(1.1rem);
                    text-align: center;
                }

                .card-price{
                    font-family: "Bebas Neue", cursive;
                    color: $gen-orange;
                    @include font-size(1.5rem);
                    text-align: center;
                }

                .card-quantity{
                    font-family: "Bebas Neue", cursive;
                    color: $gen-orange;
                    @include font-size(1.5rem);
                    text-align: center;
                }

                a {
                    color: $bg-body;
                    background-color: $gen-orange;
                    transition: 0.2s;
                    border: 1px solid $gen-orange;
                    border-radius: 0;
                    margin-top: 0.8rem;
                    &:hover {
                        color: $gen-orange;
                        background-color: $bg-body;
                    }
                    &:focus {
                        box-shadow: 0 0 0 0.25rem darken($gen-orange, 10%);
                    }
                }                
            }
        }  
        .contenedor {
            width: 90%;
            margin-top:1rem;
            label{
                color: $gen-orange;
                @include font-size(2rem);
            }
            input {
                background-color: $bg-body;
                color: $gen-orange !important;
                border: 1px solid $hov-orange;
                font-family:"Bebas Neue", cursive;
                @include font-size(1.8rem);
                padding-bottom: 0;
                border-radius: 0;
                &:focus {
                    outline: none !important;
                    border: 2px solid $gen-orange;
                    background-color: black;
                }
                
                &::placeholder {
                    color:$res-orange;
                    @include font-size(1.1rem);
                    font-family:"Bebas Neue", cursive;
                }
            }
            .p{
                color: $gen-orange;
                @include font-size(2rem);
                text-align: center;
            }
        }      
            
        
    }

    .modal-footer {
        border-top: none;
        border: 1px solid $gen-orange;
        background-color: $bg-body;

        .boton{
            color: $bg-body;
            background-color: $gen-orange;
            transition: 0.2s;
            border: 1px solid $gen-orange;
            border-radius: 0;
            &:hover {
                color: $gen-orange;
                background-color: $bg-body;
            }
            &:focus {
                box-shadow: 0 0 0 0.25rem darken($gen-orange, 10%);
            }

        }
    }

    
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
