/* SET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	background: $bg-body;
	font-family: "Montserrat", sans-serif !important;
}
h1 {
	margin-bottom: 0 !important;
}
h2 {
	font-weight: 600 !important;
}
h3 {
	font-weight: 600 !important;
}
h4 {
	font-weight: 600 !important;
}
hr {
	
	opacity: 100% !important;
}
p {
	margin-bottom: 0 !important;
}
.titles {
	width: 50%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	font-family:"Bebas Neue", cursive;
	
}

/* Botón de whastapp */
.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
	&:hover {
		text-decoration: none;
		color: #25d366;
		background-color: #fff;
	}
}

.float1{
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 110px;
	right: 40px;
	background-color: $gris;
	color: $gen-orange;
	border: 2px solid $gen-orange;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	/* box-shadow: 2px 2px 3px #999; */
	z-index: 100;
	&:hover {
		text-decoration: none;
		color: black;
		background-color: $gen-orange;
		border: 2px solid black;
	}
}

.my-float{
	margin-top:14px;
}

@media only screen and (max-width: 900px) {
	.float {
		position: fixed;
		width: 45px;
		height: 43px;
		bottom: 25px;
		right: 25px;
		background-color: #25d366;
		color: #FFF;
		border-radius: 50px;
		text-align: center;
		font-size: 30px;
		box-shadow: 2px 2px 3px #999;
		z-index: 100;
	}

	.my-float{
		margin-top:0px;
	}


}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
	border: 2px solid $res-orange;
    border-radius: 1rem;
    background-color: $gen-orange;
}
::-webkit-scrollbar-thumb:window-inactive {
    background-color: transparent;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}



input:-webkit-autofill { 
    -webkit-background-clip: text;
	-webkit-text-fill-color: $gen-orange;
}